<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add path="Aspy.ashx" verb="GET, POST" type="ByteCarrot.Aspy.AspyHandler, ByteCarrot.Aspy"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Aspy" path="Aspy.ashx" verb="GET, POST" type="ByteCarrot.Aspy.AspyHandler, ByteCarrot.Aspy"/>
    </handlers>
  </system.webServer>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
</configuration>
